<header class="global-container">
    <div class="logo-container">
        <img src="assets\logo\logo.png" alt="logo">
    </div>
    <div class="buscar-container">
        <div class="container">
            <div class="input-research">
                <div class="select-container">
                    <i class="fa-solid fa-bars" style="color: #4285f4; font-size: 25px;"></i>
                    <select name="categorias" id="categorias">
                        <option value="1" >All </option>
                        <option value="2">Categosasdfsdfsdf </option>
                        <option value="3">Categoria 3</option>
                        <option value="4">Categoria 4</option>

                    </select>
                </div>
                <hr style="height: 40px; margin: 0 10px;" >
                <div class="input-container">
                    <input type="text" placeholder="Buscar">
                </div>
                <div class="icon-container">
                    <i class="fa-solid fa-magnifying-glass" style="color: rgb(255, 255, 255);"></i>
                </div>
            </div>
        </div>
    </div>
    <nav class="paginas-container">
        <ul>
            <li><a href=""></a>Ingresar</li>
            <li><a href=""></a>Registrarse</li>
            <li><a href=""></a>Cuenta</li>
            <li class="separador" style="margin: 0;">|</li>
            <li><a href=""></a><i class="fa-solid fa-bag-shopping fa-beat" style="color: #000000; font-size: large;"></i></li>
        </ul>
    </nav>
</header>
<hr>