<div class="global-container">
    <div class="container">
        <div class="inicio-container">
            <div class="logo-container">
                <hr>
                <img src="assets\logo\logo.png" alt="logo">
                <hr>
            </div>
            <div class="saludo-container">
                <h1> ¡Hola! <br> Te damos la bienvenida </h1>
            </div>
        </div>
        <div class="formulario-container">
            <form action="">
                <div class="email">
                    <label for="mail"> Email </label>
                    <input type="text" name="mail" id="mail">
                </div>
                <div class="contasena">
                    <label for="con"> Contraseña </label>
                    <input type="password" name="con" id="con">
                </div>
                <div class="botones-container">
                    <button type="submit">Olvide mi contraseña</button>
                    <button class="n" type="submit">Ingresar</button>
                    <button type="submit">Registrate</button>
                    <button class="n" type="submit">Ingresar con Google</button>
                    <button type="submit">Ingresar como invitado</button>
                </div>
            </form>
        </div>
    </div>
</div>