<section class="sobre-nosotros">
  <div class="container">
    <h2>Sobre Nosotros</h2>
    <p>Somos una empresa que se creó con el fin de la comercialización de múltiples productos que estén relacionados con la tecnología, posterior a eso viendo el gran crecimiento de la empresa decidimos dedicarnos a la venta de más productos tales como productos para el hogar
      siendo así su puedes encontrar múltiples productos que te puedes como no te pueden interesar.
    </p>
    <p>Creemos que la pagina va a funcionar de maravilla y te dará una buena experiencia, Somo TechShop y vivimos por cada día traerte los mejores productos del mundo</p>
    <p>
      Esta página fue creada para la materia de programación y Plataformas Web del periodo 63 de la Universidad Politécnica Salesiana
    </p>
    <p>Frontend y Backend por:
    </p>
    <ul class="nombres">
      <li><a href="https://github.com/DanielCollaguazo2003">Anthony Joel Moya Ochoa</a></li>
      <li><a href="https://github.com/Anthonazo">Daniel Alfredo Collaguazo Malla</a></li>
    </ul>
    <a href="https://www.ups.edu.ec/" class="btn">Conoce más</a>
  </div>
</section>
