<div class="container-producto-inf">
  <div class="container-img">
    <img src="/assets/img/productos/iphone.png" alt="iphone">
  </div>

  <div class="inf-producto">
    <div class="nombre-pro">
      <p>ASUS ROG Zephyrus M16 16" Gaming Laptop - Off Black (Intel Core i9-13900H/1TB SSD/32GB RAM/GeForce RTX 4070)</p>
    </div>
    <div class="container-precio">
      <p>$2900.00</p>
    </div>
    <div class="accion-producto">
      <div class="cantidad-container">
        <p>Cantidad</p>
        <div class="cantidad'select">
          <button (click)="decrement()">-</button>
          <input type="number" name="cantidad" [(ngModel)]="cantidad" min="1">
          <button (click)="increment()">+</button>
        </div>
      </div>
      <button class="agregar-producto">Agregar</button>
    </div>
  </div>

</div>

<p>descripcion works!</p>
