<div class="global-container">
  <div class="subtotal-container">
    <label>SUBTOTAL</label>
    <p>$2,900.00</p>
  </div>

  <div class="detalles-envio-container">
    <div class="detalles-cliente">
      <div class="direccion">
        <span>Direcci&oacute;n</span>
        <span>$Cuenca, EC</span>
      </div>
      <div class="envio">
        <span>Opciones de Env&iacute;o</span>
        <span>El mismo dia</span>
      </div>
      <div class="metodo-pago">
        <span>Metodo de Pago</span>
        <span>Visa</span>
      </div>
    </div>
    <div class="detalles-factura">
      <div class="subtotal">
        <span>Subtotal</span>
        <span>$2900.00</span>
      </div>
      <div class="descuento">
        <span>Descuento</span>
        <span>$0.00</span>
      </div>
      <div class="costo-envio">
        <span>Costo de envio</span>
        <span>$29.00</span>
      </div>
    </div>
  </div>
  <div class="total-container">
    <label>Total</label>
    <p>$2,900.00</p>
  </div>
</div>
